In [3]:
import pandas as pd

When reading in a file, use 'sep' for txt files, also when saving the file

df(Dataframes) are objects

In [4]:
df = pd.read_csv('./gapminder.tsv', sep = '\t')

In [5]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
# This isnt a function, more of an attribute. no need to pass ()
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
# getting the row names
df.index

RangeIndex(start=0, stop=1704, step=1)

In [9]:
# seeing body of the dataset(Numpy Array somewhat)
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [10]:
type(df)

pandas.core.frame.DataFrame

In [13]:
# (rows,columns) rows can also be used as a counter 
df.shape

(1704, 6)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [15]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [16]:
country_df = df['country']

In [18]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [19]:
type(country_df)

pandas.core.series.Series

In [22]:
# getting only the data i need and want 
subset = df[['country','continent','year']]

In [24]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [26]:
# get current version of pandas
pd.__version__

'0.25.1'

In [36]:
# see all data for a specific index, loc looks for 
# all instances of the index 2 doesnt count from 0. 
# if we do binding with more than more instance of an 
# index well get both 
# Label of the row 
df.loc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [37]:
df.loc[[2,0]]

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
0  Afghanistan      Asia  1952   28.801   8425333  779.445314

In [38]:
# iloc takes the parameter and counts from the first 
# iteration to get that specific index position
df.iloc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [43]:
subset = df.loc[:,['year','pop']]

In [44]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [49]:
# boolean indexing(flitering)
subset = df.loc[df['year'] == 1967, ['year','pop']]

In [50]:
subset.head()

    year       pop
3   1967  11537966
15  1967   1984060
27  1967  12760499
39  1967   5247469
51  1967  22934225

In [56]:
# Can use visual markers to see large numbers without confusion
subset = df.loc[(df['year'] == 1967) & (df['pop'] < 5_000_000),
                ['year','pop']]
subset.head()

     year      pop
15   1967  1984060
87   1967   202182
123  1967  2427334
135  1967  4040665
147  1967  3585000